<footer>
  <p>Site créé par <a href="https://nicolas-hoizey.com">Nicolas Hoizey</a> avec <a href="https://www.11ty.dev/">{{ eleventy.generator }}</a> et hébergé par <a href="https://www.alwaysdata.com/fr/">alwaysdata</a>.</p>
  {% include "components/theme-selector.njk" %}
</footer>
