---
title: Statistiques
nav:
  order: 5
  icon: statistics
---

<p>Voici quelques statistiques concernant les activités disponibles sur ce site.</p>

{%- css "critical" %}{% renderFile "src/assets/sass/statistiques.scss" %}{% endcss %}

<h2>Chronologie</h2>

<p>Nombre d'activités par année :</p>
<div id="activities_number_year"></div>

<p>Nombre d'activités par année et mois :</p>
<div id="activities_number_year_month"></div>

<p>Nombre d'activités par mois quelle que soit l'année :</p>
<div id="activities_number_month"></div>

<h2>Types d'activités</h2>

<p>Nombre d'activités par grande famille :</p>
<div id="activities_family"></div>

<p>Et le détail des activités par type :</p>
<div id="activities_type"></div>

<h2>Statistiques plus représentatives de l'effort</h2>

<p>Voici les cumuls de durée :</p>
<div id="activities_duration"></div>

{%- js "statistiques" %}{% renderFile "src/assets/js/statistiques.js" %}{% endjs %}
<script type="module" src="{% getBundleFileUrl "js", "statistiques" %}"></script>