{%- from "macros/card.njk" import card -%}

{%- set TRACE_COLORS_ON_DARK = ['#8a3ffc', '#33b1ff', '#007d79', '#ff7eb6', '#fa4d56', '#fff1f1', '#6fdc8c', '#4589ff', '#d12771', '#d2a106', '#08bdba', '#bae6ff', '#ba4e00', '#d4bbff'] -%}
{%- set COLORS_NUMBER = TRACE_COLORS_ON_DARK | length -%}

{%- macro embed(collection, pathStems) -%}
  {%- if pathStems.length > 0 -%}
    {%- set embedId = pathStems | join("|") | slugify -%}
    <script>
    if (window.embeds === undefined) {
      window.embeds = {};
    }
    </script>
    {%- set tracesNumber = 0 -%}
    <div class="embed" data-embed-id="{{- embedId -}}">
      <div class="activites cards">
        {%- for pathStem in pathStems -%}
          {%- set activity = collection | withPathStem(pathStem) -%}
          {%- if activity -%}
            {# {%- set photos = activity.filePathStem | getPhotos -%} #}
            {%- set photos = [] -%}
            {%- set photosNumber = photos | length -%}
            <div class="activite" data-path-stem="{{- pathStem -}}" style="--activite-color: {{- TRACE_COLORS_ON_DARK[tracesNumber % COLORS_NUMBER] -}}">
              {{- card(activity.data.type, activity.data.title, activity.url, activity.date, activity.data.distance, activity.data.duration, "list") -}}
              <section class="content">
                {{- activity.content | safe -}}

                <aside class="links">Vous pouvez <a href="{{- activity.url -}}">voir cette activité en détail</a>{%- if photosNumber == 0 %} et{%- else -%},{%- endif %} interagir avec sa carte{%- if photosNumber > 0 %} et voir {% if photosNumber == 1 %}sa photo{% else %}ses {{ photosNumber }} photos{%- endif -%}{%- endif -%}.</aside>
              </section>
            </div>
            {%- set trace = activity.filePathStem | getTrace(activity.data.type) -%}
            {%- if trace -%}
              {%- set tracesNumber = tracesNumber + 1 -%}
              <script>
              {%- if tracesNumber == 1 -%}
              window.embeds["{{- embedId -}}"] = {};
              {%- endif -%}
              window.embeds["{{- embedId -}}"]["{{- pathStem -}}"] = {{- trace | safe -}};
              </script>
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
      </div>
      {%- if tracesNumber > 0 -%}
        <div id="map-{{- embedId -}}" class="map"></div>
      {%- endif -%}
    </div>
  {%- endif -%}
{%- endmacro -%}
