{%- from "macros/card.njk" import card -%}

{%- macro embed(collection, pathStems) -%}
  {%- set COLORS_NUMBER = colorsOnDark | length -%}

  {%- if pathStems.length > 0 -%}
    {%- set embedId = pathStems | join("|") | slugify -%}
    <script>
    if (window.embeds === undefined) {
      window.embeds = {};
    }
    </script>
    {%- set tracesNumber = 0 -%}
    <div class="embed" data-embed-id="{{- embedId -}}">
      <div class="activites cards">
        {%- for pathStem in pathStems -%}
          {%- set activity = collection | withPathStem(pathStem) -%}
          {%- if activity -%}
            {%- set photosNumber = activity.data.photos | length -%}
            <div class="activite" data-activity-id="{{- pathStem -}}" style="--activite-color: {{- colorsOnDark[tracesNumber % COLORS_NUMBER] -}}">
              {{- card(activity.data.type, activity.data.title, activity.url, activity.date, activity.data.distance, activity.data.duration, "list") -}}
              <section class="content">
                {{- activity.content | fixPhotoUrls(pathStem) | safe -}}

                <aside class="links">Vous pouvez <a href="{{- activity.url -}}">voir cette activité en détail</a>{%- if photosNumber == 0 %} et{%- else -%},{%- endif %} interagir avec sa carte{%- if photosNumber > 0 %} et voir {% if photosNumber == 1 %}sa photo{% else %}ses {{ photosNumber }} photos{%- endif -%}{%- endif -%}.</aside>
              </section>
            </div>
            {%- if activity.data.trace -%}
              {%- set tracesNumber = tracesNumber + 1 -%}
              <script>
              {%- if tracesNumber == 1 -%}
              window.embeds["{{- embedId -}}"] = {};
              {%- endif -%}
              window.embeds["{{- embedId -}}"]["{{- pathStem -}}"] = {{- activity.data.trace | safe -}};
              </script>
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
      </div>
      {%- if tracesNumber > 0 -%}
        <div id="map-{{- embedId -}}" class="map"></div>
      {%- endif -%}
    </div>
  {%- endif -%}
{%- endmacro -%}
