{% extends "./base.njk" %}

{% block bodyclasses %}activite{% endblock %}

{% block opengraph %}
  <meta property="og:type" content="article">
  <meta property="article:published_time" content="{{- date | isoDate -}}">
{% endblock %}

{% block opengraphimage %}
  {% set opengraphFile = 'src/_cache/opengraph' + page.filePathStem | replace('/index', '') + '/opengraph.jpg' %}
  {% if opengraphFile | exists %}
    <meta property="og:image" content="{{ pkg.homepage }}{{ page.filePathStem | replace('/collections', '') | replace('/index', '') }}/opengraph.jpg" />
  {% else %}
    {{ ("Missing: " + opengraphFile) | log }}
  {% endif %}
{% endblock %}

{% from "macros/card.njk" import card %}

{% block content %}
  {%- css "critical" %}{% renderFile "src/assets/sass/activite.scss" %}{% endcss %}
  {%- css "critical" %}{% renderFile "src/assets/sass/components/card.scss" %}{% endcss %}

  {{ card(type=type, title=title, url=page.url, date=date, distance=distance, duration=duration, elevation=elevation, score=score, where="page") }}
  <section class="content">
    <div
        class="description"
        data-pagefind-body
        data-pagefind-filter="Contenu:Activités"
        data-pagefind-sort="date:{{- date | isoDate -}}">
      {{ content | safe }}

      {% if strava or komoot %}
      <aside class="links" data-pagefind-ignore>
        <p>Vous pouvez retrouver cette activité sur {% if strava %}{% inline_icon 'strava' %}&nbsp;<a href="{{ strava }}">Strava</a>{% endif %}{% if strava and komoot %} et {% endif %}{% if komoot %} {% inline_icon 'komoot' %}&nbsp;<a href="{{ komoot }}">Komoot</a>{% endif %}.</p>
      </aside>
      {% endif %}
    </div>

    {% if trace %}
      <div id="map" class="map" data-static-url="{{ page.url }}/map.jpeg" data-pagefind-meta="image[data-static-url],image_alt:Carte de l'activité {{ title | escape }}"></div>
      <noscript>
        <p>JavaScript doit être activé pour voir cette carte.</p>
      </noscript>
      <script>
      window.geojsonUrl = "{{ page.url }}trace.geojson";
      </script>

      <script type="module" src="{% getBundleFileUrl "js", "activite" %}"></script>
      {%- js "activite" %}{% renderFile "src/assets/js/activite.js" %}{% endjs %}
    {% endif %}
  </section>

  {% set photosNumber = photos | length %}

  {% if photosNumber > 0 %}
    <h2 class="photos-title">Photos</h2>
    <section class="photos">
      <ul>
        {% for photo in photos %}
          <li>
            <figure{% if photo.geo %} data-longitude="{{ photo.geo.longitude }}" data-latitude="{{ photo.geo.latitude }}"{% endif %}>
              <a href="{{ photo.src }}" target="_blank"><img src="{{ photo.src }}" alt="{{ photo.description }}" sizes="27rem" data-pagefind-index-attrs="alt" /></a>
              <figcaption>
                <time class="dt-published" datetime="{{ photo.date }}" data-pagefind-sort="date[datetime]">{{ photo.readableTime }}</time>
                {{ ":" if photo.title }}
                {{ photo.title }}
              </figcaption>
            </figure>
          </li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}

  {%- css "critical" %}{% renderFile "src/assets/sass/components/chronology.scss" %}{% endcss %}
  {% set olderContent = collections.activites | getNextCollectionItem(page) %}
  {% set newerContent = collections.activites | getPreviousCollectionItem(page) %}
  <section class="chronology">
    <ul>
      {% if olderContent %}
      <li class="older">
          <p>Précédemment&nbsp;:</p>
          {{ card(type=olderContent.data.type, title=olderContent.data.title, url=olderContent.url, date=olderContent.data.date, distance=olderContent.data.distance, duration=olderContent.data.duration, elevation=olderContent.data.elevation, score=olderContent.data.score, where="list") }}
      </li>
      {% endif %}
      {% if newerContent %}
        <li class="newer">
          <p>Ultérieurement&nbsp;:</p>
          {{ card(type=newerContent.data.type, title=newerContent.data.title, url=newerContent.url, date=newerContent.data.date, distance=newerContent.data.distance, duration=newerContent.data.duration, elevation=newerContent.data.elevation, score=newerContent.data.score, where="list") }}
        </li>
      {% endif %}
    </ul>
  </section>

{% endblock %}
