---
layout: base
---


<style>{% renderFile "src/assets/sass/activite.scss" %}</style>

<article class="activite">
  <h1>{{ title }}</h1>

  <ul class="meta">
    <li class="date">
      <svg class="icon" aria-hidden="true"><use xlink:href="#date-icon" /></svg>
      <time class="dt-published" datetime="{{ date | isoDate }}" data-pagefind-sort="date[datetime]">{{ date | readableDate }}</time>
    </li>
    <li class="type">
      {% inline_icon 'info' %}
      <span>{{ type }}</span>
    </li>
  </ul>

  <section class="description">
    {{ content | safe }}

    {% if strava or komoot %}
      <p><em>Vous pouvez retrouver cette activité sur {% if strava %}<a href="{{ strava }}">Strava</a>{% endif %}{% if strava and komoot %} et {% endif %}{% if komoot %}<a href="{{ komoot }}">Komoot</a>{% endif %}.</em></p>
    {% endif %}
  </section>

  {% set trace = page.filePathStem | getTrace %}

  {% if trace %}
    <section class="trace">
      <div id="map"></div>
      <noscript>
        <p>You need JavaScript to see this map.</p>
      </noscript>
      <script>
      window.trace = {{ trace | safe }};
      </script>
    </section>

    <script type="module" src="{% getBundleFileUrl "js", "activite" %}"></script>
    {%- js "activite" %}{% renderFile "src/assets/js/activite.js" %}{% endjs %}
  {% endif %}

  {% set photos = page.filePathStem | getPhotos %}

  {% if photos %}
    <section class="photos">
      <ul>
        {% for photo in photos %}
          <li>
            <figure>
              <img src="{{ photo.src | url }}" alt="{{ photo.description }}" />
              {% if photo.title %}
                <figcaption>{{ photo.title }}</figcaption>
              {% endif %}
              {# {{ photo | dump }} #}
            </figure>
          </li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}
</article>
