<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    {% include "head.njk" %}
    {%- js "critical" %}
    (function (window) {
      // API key for Mapbox
      window.MAPBOX_ACCESS_TOKEN = '{{ env.MAPBOX_ACCESS_TOKEN }}';
    })(window);
    {% endjs %}
  </head>

  <body class="{% block bodyclasses %}{% endblock %}">
    <header role="banner">
      {% if page.url == '/' %}
        <h1 class="sitelogo">{{ pkg.title }}</h1>
      {% else %}
        <p class="sitelogo"><a href="/">{{ pkg.title }}</a></p>
      {% endif %}
    </header>
    {% include "components/navigation.njk" %}
    <main role="main">
      {% block content %}
        {{ content | safe }}
      {% endblock %}
    </main>
    {% include "components/footer.njk" %}
    <div style="display: none" aria-hidden="true" class="reusable-icons">
      {% inline_icon 'date' %}
      {% inline_icon 'mastodon' %}
    </div>
  </body>
</html>
