<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    {% include "head.njk" %}
  </head>

  <body>
    <header role="banner">
      {% if page.url == '/' %}
        <h1 class="sitelogo">Activités<br /><small>de Nicolas Hoizey</small></h1>
      {% else %}
        <p class="sitelogo">
          <a href="/">Activités<br /><small>de Nicolas Hoizey</small></a>
        </p>
      {% endif %}
      {% include "components/navigation.njk" %}
    </header>
    <main role="main">
      {% block content %}
        {{ content | safe }}
      {% endblock %}
    </main>
    {% include "components/footer.njk" %}
  </body>

</html>
