{% extends "./base.njk" %}

{% block bodyclasses %}blog{% endblock %}

{% from "macros/card.njk" import card %}
{%- css "critical" %}{% renderFile "src/assets/sass/components/card.scss" %}{% endcss %}

{% block content %}
  {{ card("blog", title, url, date, where="page") }}
  <section class="description">
    {{ content | safe }}
  </section>
  <script>
  if (window.embeds !== undefined) {
    let embedScript = document.createElement('script');
    embedScript.src = "{% getBundleFileUrl "js", "embed" %}";
    window.document.querySelector("head").appendChild(embedScript);
  }
  </script>
  {%- js "embed" %}{% renderFile "src/assets/js/embed.js" %}{% endjs %}
{% endblock %}
