{% extends "./base.njk" %}

{% block bodyclasses %}activite{% endblock %}

{% from "macros/card.njk" import card %}

{% block content %}
  {{ card("blog", title, url, date, "", "", "page") }}
  <section class="description">
    {{ content | safe }}
  </section>
{% endblock %}
