{% extends "./base.njk" %}

{% block bodyclasses %}map{% endblock %}

{% block content %}
  <style>{% renderFile "src/assets/sass/map.scss" %}</style>

  <h1>{{ title }}</h1>
  <div id="map"></div>
  <noscript>
    <p>JavaScript doit être activé pour voir cette carte.</p>
  </noscript>
  <script>
  window.types = [
    {% for type in collections.types %}
    '{{ type }}'{% if not loop.last %},{% endif %}
    {% endfor %}
  ];
  window.traces = [];

  {% for entry in collections.activites %}
    {% set trace = entry.data.trace %}
    {% if trace %}
    window.traces['{{ entry.date | isoDate }}'] = {{ trace | safe }};
    {% endif %}
  {% endfor %}
  </script>

  <script type="module" src="{% getBundleFileUrl "js", "map" %}"></script>
  {%- js "map" %}{% renderFile "src/assets/js/map.js" %}{% endjs %}
{% endblock %}
