{% extends "./base.njk" %}

{% block bodyclasses %}recit{% endblock %}

{% from "macros/card.njk" import card %}
{%- css "critical" %}{% renderFile "src/assets/sass/components/card.scss" %}{% endcss %}

{% block content %}
  {{ card(type="blog", title=title, url=page.url, date=date, where="page") }}
  <section
      class="description"
      data-pagefind-body
      data-pagefind-filter="Contenu:Récits"
      data-pagefind-sort="date:{{- date | isoDate -}}">
    {{ content | safe }}
  </section>
  <script>
  if (window.embeds !== undefined) {
    let embedMapsScript = document.createElement('script');
    embedMapsScript.src = "{% getBundleFileUrl "js", "embedMaps" %}";
    window.document.querySelector("head").appendChild(embedMapsScript);
  }
  </script>
  {%- js "embedMaps" %}{% renderFile "src/assets/js/embed.js" %}{% endjs %}
{% endblock %}
