---
pagination:
  data: collections.recits
  size: 1
  alias: recit
  filter:
    - all
  addAllPagesToCollections: false
layout: false
eleventyComputed:
  title: opengraph image for “{{ recit.title }}”
permalink: "{{ recit.url }}opengraph.html"
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <title>Opengraph image for “{{ recit.data.title }}”</title>
    <style>{% renderFile "src/assets/sass/components/opengraph.scss" %}</style>
    <style>
      .title h1 {
        {% set titleLength = recit.data.title | length %}
        --adaptive-font: {{ 45 - titleLength / 8 }}px;
      }
    </style>
  </head>

  <body>
    <div id="opengraph" class="recit">
      <div class="meta">
        <div class="title">
          <h1>{{ recit.data.title }}</h1>
          <ul class="infos">
            <li class="date">
              {%- inline_icon 'date' %}
              <time>{{- recit.data.date | readableDate -}}</time>
            </li>
            {%- if recit.data.distance and recit.data.distance != 0 -%}
              <li class="distance">
                  {%- inline_icon 'distance' %}
                  <span>{{- recit.data.distance -}}&nbsp;km</span>
              </li>
            {%- endif -%}
            {%- if recit.data.elevation and recit.data.elevation != 0 -%}
              <li class="elevation">
                  {%- inline_icon 'elevation' %}
                  <span>{{- recit.data.elevation -}}&nbsp;m</span>
              </li>
            {%- endif -%}
          </ul>
        </div>
        <p class="logo"></p>
      </div>
      <div class="content image">
        {% if recit.data.image %}
          <img src="{{ recit.data.image }}" eleventy:ignore />
        {% endif %}
      </div>
    </div>
  </body>
</html>
