---
layout: pages
title: Activités
nav:
  order: 2
  icon: date
---

{% from "macros/meta.njk" import meta %}

<ul class="activites">
  {% for entry in collections.activites %}
    <li class="card">
      <a href="{{ entry.url }}">
        {% inline_icon entry.data.type %}
        <h3>{{ entry.data.title }}</h3>
        {{ meta(entry.data.date, entry.data.distance, entry.data.duration) }}
      </a>
    </li>
  {% endfor %}
</ul>
