---
layout: pages
title: "Activités"
pagination:
  data: collections.type_families
  size: 1
  alias: type_families_item
  addAllPagesToCollections: false
permalink: "/activites/{{ type_families_item | slugify }}/"
---

{%- css "critical" %}{% renderFile "src/assets/sass/components/filters.scss" %}{% endcss %}

<div class="filtres">
  <ul>
    <li><a href="/activites/">toutes</a></li>
    {% for typeFamiliesItem in collections.type_families %}
      {% if typeFamiliesItem == type_families_item %}
        <li class="actif"><span>{% inline_icon typeFamiliesItem %} {{ typeFamiliesItem | safe }}</span></li>
      {% else %}
        <li><a href="/activites/{{ typeFamiliesItem | slugify }}/">{% inline_icon typeFamiliesItem %} {{ typeFamiliesItem | safe }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</div>

{%- css "critical" %}{% renderFile "src/assets/sass/components/card.scss" %}{% endcss %}
{% from "macros/card.njk" import card %}

<div class="activites cards">
  {% for entry in collections.activites | type_family(type_families_item) %}
    {{ card(entry.data.type, entry.data.title, entry.url, entry.data.date, entry.data.distance, entry.data.duration, "list", entry.data.map, loop.index) }}
  {% endfor %}
</div>
