---
layout: pages
title: Activités
nav:
  order: 2
  icon: date
---

{%- css "critical" %}{% renderFile "src/assets/sass/components/filters.scss" %}{% endcss %}

<ul class="filtres">
  <li class="actif"><span>tout</span></li>
  {% for typeItem in collections.types %}
    <li><a href="/activites/{{ typeItem | slugify }}/">{% inline_icon typeItem %} {{ typeItem | safe }}</a></li>
  {% endfor %}
</ul>

{%- css "critical" %}{% renderFile "src/assets/sass/components/card.scss" %}{% endcss %}
{% from "macros/card.njk" import card %}

<div class="activites cards">
  {% for entry in collections.activites %}
    {{ card(entry.data.type, entry.data.title, entry.url, entry.data.date, entry.data.distance, entry.data.duration, "list") }}
  {% endfor %}
</div>
