---
layout: pages
title: "Activités"
pagination:
  data: collections.types
  size: 1
  alias: type
  addAllPagesToCollections: false
permalink: "/activites/{{ type | slugify }}/"
---

{%- css "critical" %}{% renderFile "src/assets/sass/components/filters.scss" %}{% endcss %}

<ul class="filtres">
  <li><a href="/activites/">tout</a></li>
  {% for typeItem in collections.types %}
    {% if typeItem == type %}
      <li class="actif"><span>{% inline_icon typeItem %} {{ typeItem | safe }}</span></li>
    {% else %}
      <li><a href="/activites/{{ typeItem | slugify }}/">{% inline_icon typeItem %} {{ typeItem | safe }}</a></li>
    {% endif %}
  {% endfor %}
</ul>

{%- css "critical" %}{% renderFile "src/assets/sass/components/card.scss" %}{% endcss %}
{% from "macros/card.njk" import card %}

<div class="activites cards">
  {% for entry in collections.activites | type(type) %}
    {{ card(entry.data.type, entry.data.title, entry.url, entry.data.date, entry.data.distance, entry.data.duration, "list") }}
  {% endfor %}
</div>
