---
layout: pages
title: Activités
nav:
  order: 2
  icon: date
---

{% from "macros/card.njk" import card %}

<div class="activites cards">
  {% for entry in collections.activites %}
    {{ card(entry.data.type, entry.data.title, entry.url, entry.data.date, entry.data.distance, entry.data.duration, "list") }}
  {% endfor %}
</div>
