---
nav:
  order: 1
  title: Accueil
  icon: home
---

{% from "macros/card.njk" import card %}
{%- css "critical" %}{% renderFile "src/assets/sass/components/card.scss" %}{% endcss %}

<p>Bienvenue sur ce site, qui présente les activités sportives de Nicolas Hoizey.</p>

<h2>Dernières activités</h2>

<div class="activites cards">

  {% for entry in collections.activites | limit(5) %}
    {{ card(entry.data.type, entry.data.title, entry.url, entry.data.date, entry.data.distance, entry.data.duration, "list") }}
  {% endfor %}
</div>

<h2>Dans le blog</h2>

<div class="blog cards">
  {% for entry in collections.blog %}
    {{ card("blog", entry.data.title, entry.url, entry.data.date, where="list") }}
  {% endfor %}
</div>
