---
nav:
  order: 1
  title: Accueil
  icon: home
---

{% from "macros/card.njk" import card %}
{%- css "critical" %}{% renderFile "src/assets/sass/components/card.scss" %}{% endcss %}

<p>Bienvenue sur ce site qui présente mes <strong>activités sportives</strong>.</p>
<p>Je m'appelle <strong>Nicolas Hoizey</strong>, et je pratique essentiellement des sports de raquette, le cyclisme et la marche. Vous pouvez en apprendre plus dans la <a href="/a-propos/">page « à propos »</a>.</p>

{% for entry in collections.activityStats | limit(1) %}
<p><strong>Depuis un an</strong>, j'ai pratiqué ces activités pendant {{ entry.full.oneYear.duration }}, dont <strong>{{ entry.raquettes.oneYear.duration }} de <a href="/activites/raquettes/">sports de raquette</a></strong>, et <strong>{{ entry['vélo'].oneYear.duration }} de <a href="https://activites.nicolas-hoizey.com/activites/velo/">vélo</a></strong> (pour {{ entry['vélo'].oneYear.distance }} km et {{ entry['vélo'].oneYear.elevation }} m de D+). Sommées comme ça, ces stats sont peu utiles, il faut mieux aller voir une <a href="/statistiques/">page de statistiques détaillées</a>.</p>
{% endfor %}

<h2>Dernières activités <a href="/flux/activites.xml" title="Abonnez-vous au flux des dernières activités" aria-label="Abonnez-vous au flux des dernières activités" class="feed">{%- inline_icon 'feeds' -%}</a></h2>

<div class="activites cards">

  {% for entry in collections.activites | limit(5) %}
    {{ card(type=entry.data.type, title=entry.data.title, url=entry.url, date=entry.data.date, distance=entry.data.distance, duration=entry.data.duration, elevation=entry.data.elevation, score=entry.data.score, where="list", map=entry.data.map, image_index=loop.index, env=build.env) }}
  {% endfor %}
</div>

<h2>Récits <a href="/flux/recits.xml" title="Abonnez-vous au flux des derniers récits" aria-label="Abonnez-vous au flux des derniers récits" class="feed">{%- inline_icon 'feeds' -%}</a></h2>

<div class="recits cards">
  {% for entry in collections.recits %}
    {{ card(type="recits", title=entry.data.title, url=entry.url, date=entry.data.date, where="list") }}
  {% endfor %}
</div>

<h2>Dans le blog <a href="/flux/blog.xml" title="Abonnez-vous au flux des derniers billets de blog" aria-label="Abonnez-vous au flux des derniers billets de blog" class="feed">{%- inline_icon 'feeds' -%}</a></h2>

<div class="blog cards">
  {% for entry in collections.blog %}
    {{ card(type="blog", title=entry.data.title, url=entry.url, date=entry.data.date, where="list") }}
  {% endfor %}
</div>
