/* ***********************************************************
 * Cards
 *********************************************************** */

.cards {
  margin-block: calc(2 * var(--gap));
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(100%, 25em), 1fr));
	gap: var(--gap);
}

.card {
	display: grid;
	grid-template-areas: "title"
												"meta";
  grid-template-columns: 1fr;

  &:has(> .type) {
  	grid-template-areas: "type title"
												"type meta";
    grid-template-columns: fit-content(4em) 1fr;
  }

  align-items: flex-start;
	gap: var(--gap);

	padding: 0;

  .cards & {
    padding: var(--gap);
    background-color: var(--surface-1);
    border-radius: .5em;

    a {
      color: var(--heading);
      text-decoration: none;
    }


    &:hover {
      background-color: var(--surface-2);

      a {
        text-decoration: underline;
      }
    }
  }

	.type {
    grid-area: type;

    min-width: 5rem;

    color: var(--heading);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .icon {
      width: 3em;
      height: 3em;
      padding: .1em;
      fill: currentColor;
      stroke-width: 0;
    }

    .label {
      font-size: 0.8em;
    }
	}

  h1, h3 {
		grid-area: title;
    margin-block: 0;
		color: var(--heading);
	}

  .meta {
    grid-area: meta;

    margin: 0;
    padding: 0;

    display: flex;
    gap: .3em 1em;
    flex-wrap: wrap;

    font-size: 0.9em;
    color: var(--meta);

    list-style-type: none;

    & > li {
      white-space: nowrap;
    }

    svg.icon {
      opacity: 0.8;
      fill: none;
      color: var(--meta-icon);
      stroke: currentColor;
    }
  }

}

