@use 'variables' as *;
@use 'card' as *;
@use 'components/map' as *;

.embed {
  clear: both;
  margin-block: calc(2 * var(--gap));

  & + p {
    margin-block-start: var(--gap);
  }

  .activite {
    border: 2px solid var(--map-border);
    border-radius: .5em;
		scroll-margin-top: var(--gap);
  }

  .cards {
    margin-block: 0;

    .card {
      border-radius: .5em .5em 0 0;
    }
  }

  .description {
		margin-block-start: 0;
    padding: var(--gap);
    border-top: 3px solid var(--activite-color);
  }
}

.embed:has(.map) {
  display: grid;
	grid-template-areas: "map"
											"cards";
	grid-template-columns: 1fr;
  grid-template-rows: auto auto;
	align-content: start;
	gap: var(--gap);

	.cards {
    grid-area: cards;
	}

	.map {
    grid-area: map;
	}

	@media screen and (min-width: $breakpoint-map) {
		grid-template-areas: "cards map";
		grid-template-columns: 2fr 3fr;
		grid-template-rows: auto;
	}
}

.embed .map {
	width: 100%;

  position: sticky;
  top: var(--gap);

	background-color: var(--surface-1);
	border: 1px solid var(--map-border);
  border-radius: .5em;

  height: calc(35dvh - 2 * var(--gap));

  // Add a bottom shadow to enhance the sticky/floating effect
  box-shadow: calc(-1 * var(--gap)) 0 var(--surface-0), var(--gap) 0 var(--surface-0), 0 calc(-1 * var(--gap)) 0 var(--surface-0), 0 var(--gap) calc(var(--gap) / 2) calc(var(--gap) / -2) rgb(0, 0, 0, .3);

  @media screen and (min-width: $breakpoint-map) {
    height: auto;
  	max-height: calc(100dvh - 2 * var(--gap));
  }
}

.marker {
	border-radius: 50%;
	border: 2px solid #fff;
	background-size: cover;
	background-repeat: no-repeat;
	cursor: pointer;

	width: 30px;
	height: 30px;
	transition-property: width, height;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;

	&:hover {
		width: 75px;
		height: 75px;
		z-index: 2;
	}
}

.links {
	font-size: .9em;
	margin-block-start: calc(2 * var(--gap));
	padding-block: calc(var(--gap) / 2);
	padding-inline: var(--gap);
	background-color: var(--message-background);
	border-left: 5px solid var(--message-border);
	// border-radius: var(--gap);

	p {
		margin: 0;
		color: var(--message-text);
	}
}
