.filtres {
	overflow-x: scroll;
  margin-block: var(--gap);

	ul {
		list-style-type: none;
		padding-inline-start: 0;
		width: max-content;

		display: flex;
		flex-direction: row;
		gap: 0;

		align-items: center;
	}

	li {
				flex-grow: 1;
	}

	a {
		text-decoration: none;
	}

	li :is(a, span) {
		display: inline-block;
		min-inline-size: fit-content;
		background-color: var(--filtre-off-background);
		color: var(--filtre-off-text);
		padding: 0.2rem .75rem;
		box-shadow: inset 0.15rem 0.15rem 0 rgba(255, 255, 255, 0.2);

	}

	li:first-child :is(a, span) {
		border-radius: 0.5rem 0 0 0.5rem;
	}

	li:last-child :is(a, span){
		border-radius: 0 0.5rem 0.5rem 0;
	}

	.icon {
		fill: currentColor;
		stroke-width: 0;
	}

	.actif span,
	a:hover,
	a:focus {
		background-color: var(--filtre-on-background);
		color: var(--filtre-on-text);
		box-shadow: inset -0.15rem -0.15rem 0 rgba(255, 255, 255, 0.2);
	}
}
