---
layout: pages
title: Blog
nav:
  order: 4
  icon: blog
---

{% from "macros/card.njk" import card %}

<div class="blog cards">
  {% for entry in collections.blog %}
    {{ card("blog", entry.data.title, entry.url, entry.data.date, "", "", "list") }}
  {% endfor %}
</div>
