---
layout: pages
title: Blog
nav:
  order: 5
  icon: blog
---

{% from "macros/card.njk" import card %}
{%- css "critical" %}{% renderFile "src/assets/sass/components/card.scss" %}{% endcss %}

<div class="blog cards">
  {% for entry in collections.blog %}
    {{ card(type="blog", title=entry.data.title, url=entry.url, date=entry.data.date, where="list") }}
  {% endfor %}
</div>
