@use 'variables' as *;

@use 'reset' as *;

@use 'tokens' as *;
@use 'theme' as *;

@use 'layout' as *;
@use 'accessibility' as *;

@use 'components/header' as *;
@use 'components/nav' as *;
@use 'components/footer' as *;
@use 'components/theme-selector' as *;

body {
	background-color: var(--green-900);
	color: var(--green-200);
}

a {
	color: var(--link-text);
	text-decoration-line: underline;
	text-decoration-color: var(--link-decoration);
}

a:hover {
	color: var(--link-text-hover);
	text-decoration-color: var(--link-decoration-hover);
}

main {
	background-color: var(--surface-0);
	color: var(--text-primary);

	padding: var(--gap);

	h1, h2, h3, h4, h5, h6 {
		margin-block: 0 var(--gap);
		line-height: 1.2;
	}

	h1, h2 {
		font-weight: bold;
		color: var(--heading);
	}

	h1 {
		font-size: 1.3em;
	}

	h2 {
		font-size: 1.2em;
	}

	h3, h4, h5, h6 {
		font-weight: normal;
		color: var(--sub-heading);
		font-size: 1.1em;
	}

	p {
		max-width: 60ch;
	}

	p + p,
	.description,
	.eleventy-plugin-youtube-embed {
		margin-block-start: var(--gap);
	}
}

// Figures
figure {
	clear: both;
	display: block;
	margin: var(--gap) auto;
	text-align: center;

	img {
		margin-block: 0;
		padding: 0;
	}
}

figcaption {
	// http://nocode.in/aligning-text-smartly-in-css/
	display: inline-block;
	text-align: left;

	font-size: smaller;
	font-style: italic;
	margin: 0.1em 1em;
	padding: 0.3em 0;
	color: var(--meta);

	p {
		margin: 0;
	}
}

svg.icon {
  width: 1.2em;
  height: 1.2em;
  vertical-align: sub;
  fill: none;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;

  * {
    vector-effect: non-scaling-stroke;
    stroke: currentColor;
  }
}

/* ***********************************************************
 * Brand icons
 *********************************************************** */

#komoot-icon {
	fill: #6AA127;
	stroke-width: 0;
}

#strava-icon {
	fill: #FC5200;
	stroke-width: 0;
}

/* ***********************************************************
 * View transitions
 *********************************************************** */

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 1s;
}

