@use 'variables' as *;
@use 'functions' as *;

@use 'reset' as *;

@use 'tokens' as *;
@use 'theme' as *;

@use 'layout' as *;
@use 'accessibility' as *;

@use 'components/header' as *;
@use 'components/nav' as *;
@use 'components/footer' as *;
@use 'components/theme-selector' as *;

body {
	background-color: var(--green-900);
	color: var(--green-200);
}

a {
	color: var(--link-text);
	text-decoration-line: underline;
	text-decoration-color: var(--link-decoration);
}

a:hover {
	color: var(--link-text-hover);
	text-decoration-color: var(--link-decoration-hover);
}

main {
	background-color: var(--surface-0);
	color: var(--text-primary);

	padding: var(--gap);

	h1, h2, h3, h4, h5, h6 {
		margin-block: var(--gap);
		line-height: 1.2;

		&:first-child {
			margin-block-start: 0;
		}
	}

	h1, h2 {
		font-weight: bold;
		color: var(--heading);
	}

	h1 {
		font-size: 1.3em;
	}

	h2 {
		font-size: 1.2em;
	}

	h3, h4, h5, h6 {
		font-weight: normal;
		color: var(--sub-heading);
		font-size: 1.1em;
	}

	p {
		max-width: 60ch;
	}

	p + p,
	.description,
	.eleventy-plugin-youtube-embed {
		margin-block-start: var(--gap);
	}
}

// Figures
figure {
	clear: both;
	display: block;
	margin: var(--gap) auto;
	text-align: center;

	img {
		margin-block: 0;
		padding: 0;
	}
}

/* Photos dans les contenus */
p:has(:is(.left, .right)) {
	max-width: 33%;
	margin-block-end: calc(2 * var(--gap));
}

p:has(.left) {
	margin-inline-end: var(--gap);
	float: left;
}

p:has(.right) {
	float: right;
	margin-inline-start: var(--gap);
}

p:has(.center) {
	max-width: 66%;
	margin-inline: auto;
	margin-block: var(--gap);
}

figcaption {
	// http://nocode.in/aligning-text-smartly-in-css/
	display: inline-block;
	text-align: left;

	font-size: smaller;
	font-style: italic;
	margin: 0.1em 1em;
	padding: 0.3em 0;
	color: var(--meta);

	p {
		margin: 0;
	}
}

svg.icon {
  width: 1.1em;
  height: 1.1em;
  vertical-align: sub;
  stroke-linecap: round;
  stroke-linejoin: round;

  * {
    vector-effect: non-scaling-stroke;
    stroke: currentColor;
  }

	p & {
		stroke-width: 0;
		fill: currentColor;
	}

	nav &, .meta & {
		stroke-width: 1px;
		fill: none;
	}
}

.feed {
	svg.icon {
		fill: none;
		color: #ee8d4b;
    stroke-width: 2px;

		&:hover {
	    stroke-width: 3px;
		}
	}
}

/* ***********************************************************
 * Brand icons
 *********************************************************** */

#alwaysdata-icon {
	fill: #d76092;
	stroke-width: 0;
}

#cloudinary-icon {
	fill: #3448C5;
	stroke-width: 0;
}

#komoot-icon {
	fill: #6AA127;
	stroke-width: 0;
}

#mapbox-icon {
	fill: #1c4892;
	stroke-width: 0;
}

#mastodon-icon {
	fill: #563ACC;
	stroke-width: 0;
}

#strava-icon {
	fill: #FC5200;
	stroke-width: 0;
}

/* ***********************************************************
 * View transitions
 *********************************************************** */

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 1s;
}

/* ***********************************************************
 * Encarts
 *********************************************************** */

.info,
.warning,
.success,
.error {
	position: relative;
	margin-block: var(--gap);
	padding: 0.4rem 0.7rem 0.4rem 2.4rem;
	background: #ccc;
	color: #222;
	border: 2px solid #999;
	border-radius: 0.5rem;
	text-decoration: none;

	& > * {
		margin-top: 0;
	}

	&::before {
		font-size: 2rem;
		line-height: 1;
		position: absolute;
		left: 0.2rem;
		top: 0.1rem;
	}
}

.info {
	color: #3c3d76;
	background: #dfd8f0;
	border-color: #d6c6e9;

	&::before {
		content: #{unicode('2139') unicode('FE0E')}; // ℹ
	}

	a:link,
	a:visited {
		color: #2b2c54;
	}
}

.success {
	color: #3c763d;
	background: #dff0d8;
	border-color: #d6e9c6;

	&::before {
		content: #{unicode('263A') unicode('FE0E')}; // ☺︎
	}

	a:link,
	a:visited {
		color: #2b542c;
	}
}

.warning {
	color: #8a6d3b;
	background: #fcf8e3;
	border-color: #faebcc;

	&::before {
		content: #{unicode('26A0') unicode('FE0E')}; // ⚠
	}

	a:link,
	a:visited {
		color: #66512c;
	}
}

.error {
	color: #a94442;
	background: #f2dede;
	border-color: #ebccd1;

	&::before {
		content: #{unicode('2639') unicode('FE0E')}; // ☹︎
	}

	a:link,
	a:visited {
		color: #843534;
	}
}
