@use '../../../node_modules/mapbox-gl/dist/mapbox-gl.css';
@use '../../../node_modules/mapbox-gl-style-switcher/styles.css';
@use 'variables' as *;

body.map {
	grid-template-areas: "header"
											"nav"
											"main";
	grid-template-rows: minmax(0, auto) auto 1fr;

	@media (min-width: $breakpoint) {
		grid-template-areas: "header header"
												"nav main";
		grid-template-rows: minmax(0, auto) 1fr;

	}

	main {
		position: relative;
		padding: 0;
	}

	h1 {
		position: absolute;
		top: var(--gap);
		left: var(--gap);
		z-index: 1;
		color: white;
		text-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.8);
	}

	footer {
		display: none;
	}
}

#map {
	position: absolute;
	inset: 0;

	background-color: var(--surface-1);
}

.mapboxgl-ctrl-top-right {
	position: absolute;
	top: var(--gap);
	right: var(--gap);
}
