/* ***********************************************************
 * Theme management
 *********************************************************** */

:root {
  --background: light-dark(var(--grey-100), var(--grey-700));
  --surface: light-dark(var(--grey-200), var(--grey-900));

  --text-primary: light-dark(var(--grey-900), var(--grey-100));
  --text-secondary: light-dark(var(--grey-500), var(--grey-200));

  --heading: light-dark(var(--grey-700), var(--grey-300));
  --sub-heading: light-dark(var(--grey-500), var(--grey-100));

  --link-text: light-dark(var(--green-500), var(--green-200));
  --link-decoration: light-dark(var(--green-300), var(--green-400));
  --link-text-hover: light-dark(var(--green-700), var(--green-100));
  --link-decoration-hover: light-dark(var(--green-500), var(--green-300));

  --meta: light-dark(var(--grey-500), var(--grey-300));

  --theme-text: light-dark(var(--yellow-300), var(--yellow-300));
  --theme-decoration: light-dark(var(--yellow-200), var(--yellow-200));

  --accent: light-dark(var(--yellow-500), var(--yellow-500));
  --dimmed: light-dark(var(--green-500), var(--green-500));
  --danger: light-dark(var(--red), var(--red));
}

:root[data-theme="auto"],
:root:has([id="theme-auto"]:checked) {
	color-scheme: light dark;
}

:root[data-theme="light"],
:root:has([id="theme-light"]:checked) {
	color-scheme: light;
}

:root[data-theme="dark"],
:root:has([id="theme-dark"]:checked) {
	color-scheme: dark;
}

// Theme selector

#theme-selector {
  font-variant: small-caps;

  fieldset {
    border: none;
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap);
  }

  legend {
    display: none;
  }

  input[type="range"],
  .theme-labels {
    width: 14ch;
  }

  .theme-labels {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1;

    color: var(--green-200);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;

    li:first-child {
      align-self: left;
    }

    li {
      cursor: pointer;
      // width: 6ch;
      text-align: center;
    }
  }
}

html[data-theme="light"] #theme-selector option[label="clair"],
html[data-theme="light"] #theme-selector .theme-labels li.light,
html[data-theme="auto"] #theme-selector option[label="auto"],
html[data-theme="auto"] #theme-selector .theme-labels li.auto,
html[data-theme="dark"] #theme-selector option[label="sombre"],
  html[data-theme="dark"] #theme-selector .theme-labels li.dark {
  -webkit-text-stroke-width: 1px;
  color: var(--theme-text);
  text-decoration: underline;
  text-decoration-color: var(--theme-decoration);
}